adapter-config/xsd/getsearchresultsoutput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.primeassociates.com/ComplianceManager/OFACReporter"
	targetNamespace="http://www.primeassociates.com/ComplianceManager/OFACReporter" elementFormDefault="qualified"
	attributeFormDefault="qualified">
	<xs:element name="GETSEARCHRESULTS">
		<xs:annotation>
			<xs:documentation>GETSEARCHRESULTS method element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OUTPUT" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OUTPUT">
		<xs:annotation>
			<xs:documentation> GETSEARCHRESULTS Method Response/Output Format</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="INPUT" minOccurs="0"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="TRANSACTIONID" minOccurs="1" maxOccurs="1"/>
						<xs:element ref="MATCHES" minOccurs="1" maxOccurs="1"/>
            <!-- These elements cause problems with Prime 8 -->
            <!--xs:element ref="SEARCHSTATE" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="APPROVESTATE" minOccurs="0" maxOccurs="1"/-->
						<xs:element ref="ANNOTATION" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="REQUESTTIME" minOccurs="0" maxOccurs="1"/>
						<xs:element ref="CIFRULE" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
					<xs:element ref="ERROR"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- Attributes Declarations -->
	<xs:attribute name="ALGORITHM">
		<xs:annotation>
			<xs:documentation> Specifies which algorithm should be used for each field. Valid values are None, MatchFullName, MatchText.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="None"/>
				<xs:enumeration value="MatchFullName"/>
				<xs:enumeration value="MatchText"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="MISSPELLING" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>- Indicates if misspelling rules should be applied to a field. </xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="MUSTALSOMATCHFIELDS" type="xs:string">
		<xs:annotation>
			<xs:documentation> For a match to be considered, all the fields specified should also match against the corresponding Sanctioned Party entry. Enter the field name(s) as a comma separated list. The valid field names are City,Country,DateOfBirth,FullAddress,PartyName,PartyOtherDetails,State,Street</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="MUSTALSOMATCHTYPE" >
		<xs:annotation>
			<xs:documentation> For a match to be considered, specify the rule to be used to match other fields. </xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="AllOf" />
				<xs:enumeration value="AnyOf" />
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="MUSTMATCHTYPE">
		<xs:annotation>
			<xs:documentation>  Allows you to specify what type(s) of Sanctioned Party records should be matched against this field.  Valid values are PartyName, StreetAddress, ChipsUid, SwiftTid, Airport, Seaport, Country, City, and KeyWord.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="USETEXTEXCLUDE" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates if transactional text Exclude Name rules should be used. If false, only CIF Exclude Name rules will be used. Generally used to minimize false positive matches in high volume files, this should be set to true.  Note:  If Alg=MatchFullName, Batchfilter processing will only use CIF Exclude List even if UseTextExclude=true.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="VALUE" type="xs:string">
		<xs:annotation>
			<xs:documentation> Value of the field.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<!-- Simple Type Declarations -->
	<xs:element name="ANNOTATION" type="xs:string">
		<xs:annotation>
			<xs:documentation>Comments provided while reviewing the violation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="APPROVED" type="xs:boolean">
		<xs:annotation>
			<xs:documentation> Determines if the Search State is approved or not</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BRANCH" type="xs:string">
		<xs:annotation>
			<xs:documentation> Branch of the Organization using OFAC Reporter Web service </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CIFRULE" type="xs:string">
		<xs:annotation>
			<xs:documentation> CifRule used to find match</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CITY">
		<xs:annotation>
			<xs:documentation> City of Customer/Party  on which OFAC search has to be performed</xs:documentation>
		</xs:annotation>
		<xs:complexType>
		    <xs:simpleContent>
			<xs:extension base="xs:string">
			    <xs:attributeGroup ref="attrgroup" />
			</xs:extension>
		    </xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="COUNTRY">
		<xs:annotation>
			<xs:documentation>Country of Customer/Party  on which OFAC search has to be performed</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			    <xs:simpleContent>
				<xs:extension base="xs:string">
				    <xs:attributeGroup ref="attrgroup" />
				</xs:extension>
			    </xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DATETIME" type="xs:string">
		<xs:annotation>
			<xs:documentation> Date time field</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DELEGATED" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Boolean value  to indicate whether the violation review is delegated to other application or not.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DEPT" type="xs:string">
		<xs:annotation>
			<xs:documentation> Department of Branch of the Organization using OFAC Reporter Web service</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ERRORDESC" type="xs:string">
		<xs:annotation>
			<xs:documentation>Error Description</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ERRORNUM" type="xs:string">
		<xs:annotation>
			<xs:documentation>Error Number</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FILEIMG" type="xs:string">
		<xs:annotation>
			<xs:documentation> The file image to be used to perform OFAC search. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FIRSTNAME" type="xs:string">
		<xs:annotation>
			<xs:documentation>Customer First Name</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FULLADDRESS">
		<xs:annotation>
			<xs:documentation>Customer Full Address to be checked. If it is not present then values of Street, City and Country will be used.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			    <xs:simpleContent>
				<xs:extension base="xs:string">
				    <xs:attributeGroup ref="attrgroup" />
				</xs:extension>
			    </xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FULLNAME" type="xs:string">
		<xs:annotation>
			<xs:documentation>Customer Full Name to be checked. If it is not present then values of FirstName, MiddleName and LastName will be used.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LASTNAME" type="xs:string">
		<xs:annotation>
			<xs:documentation> Customer Last Name</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MATCHINFO" type="xs:string">
		<xs:annotation>
			<xs:documentation>Any system information relating to the match.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MATCHNAME" type="xs:string">
		<xs:annotation>
			<xs:documentation> The party name against which the match is found.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MATCHPROGRAM" type="xs:string">
		<xs:annotation>
			<xs:documentation>Program of the SDN Name.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MATCHREMARKS" type="xs:string">
		<xs:annotation>
			<xs:documentation>Remarks of the SDN Name</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MATCHTEXT" type="xs:string">
		<xs:annotation>
			<xs:documentation>The message text where the match has been found.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MATCHTITLE" type="xs:string">
		<xs:annotation>
			<xs:documentation>Title of the SDN name.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MATCHTYPE" type="xs:string">
		<xs:annotation>
			<xs:documentation>Type of the SDN Name.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MIDDLENAME" type="xs:string">
		<xs:annotation>
			<xs:documentation> Customer Middle Name</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NAMEPREFIX" type="xs:string">
		<xs:annotation>
			<xs:documentation> Customer Name PREFIX (like Sir, Mr, Mrs etc)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NAMESUFFIX" type="xs:string">
		<xs:annotation>
			<xs:documentation> Customer Name SUFFIX (like Jnr, Snr etc)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ORGANIZATION" type="xs:string">
		<xs:annotation>
			<xs:documentation> Customer Organization </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ORIGINALSDNNAME" type="xs:string">
		<xs:annotation>
			<xs:documentation>The party name as found on the sanction list.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PARTYID" type="xs:string">
		<xs:annotation>
			<xs:documentation> ID of Customer/Party  on which OFAC search has to be performed</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="POSTALCODE" type="xs:string">
		<xs:annotation>
			<xs:documentation>Customer Postal Code or Zip Code</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="REQUESTTIME" type="xs:string">
		<xs:annotation>
			<xs:documentation> Determines the Time of OFACREPORTER Search</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RETURNORIGINALREQUEST" type="xs:boolean">
		<xs:annotation>
			<xs:documentation> Boolean value to indicate to include original request in the response. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SOURCE" type="xs:string">
		<xs:annotation>
			<xs:documentation>Application/Service invoking /calling OFAC Reporter Web service </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="STATE">
		<xs:annotation>
			<xs:documentation>State of Customer/Party  on which OFAC search has to be performed</xs:documentation>
		</xs:annotation>
		<xs:complexType>
		    <xs:simpleContent>
			<xs:extension base="xs:string">
			    <xs:attributeGroup ref="attrgroup" />
			</xs:extension>
		    </xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="STREET">
		<xs:annotation>
			<xs:documentation> Street Address of Customer/Party  on which OFAC search has to be performed</xs:documentation>
		</xs:annotation>
		<xs:complexType>
		    <xs:simpleContent>
			<xs:extension base="xs:string">
			    <xs:attributeGroup ref="attrgroup" />
			</xs:extension>
		    </xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="STATUS">
		<xs:annotation>
			<xs:documentation> STATUS Description</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Unconfirmed"/>
				<xs:enumeration value="Delegated"/>
				<xs:enumeration value="Confirmed"/>
				<xs:enumeration value="Waived"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TRANSACTIONID" type="xs:string">
		<xs:annotation>
			<xs:documentation> Unique Id to identify OFAC Search performed using OFAC Reporter Web service.This Id can be used to check the status of  OFAC Search and violation review.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="USEDB" type="xs:boolean">
		<xs:annotation>
			<xs:documentation> Boolean value to indicate whether to use prime database to record violations and events or not.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- Complex Type Declarations -->
	<xs:element name="APPROVESTATE" type="approvefield">
		<xs:annotation>
			<xs:documentation> Determines the APPROVED State of OFACREPORTER Search</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="INPUT">
		<xs:annotation>
			<xs:documentation> GETSEARCHRESULTS Method Request/Input Format</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ORGANIZATION" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="BRANCH" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="DEPT" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="SOURCE" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="FILEIMG" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="USEDB" minOccurs="1" maxOccurs="1" />
				<xs:element ref="DELEGATED" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="RETURNORIGINALREQUEST" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="SEARCHDATA" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MATCH">
		<xs:annotation>
			<xs:documentation> OFACREPORTER Check Match Details</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MATCHNAME" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="ORIGINALSDNNAME" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="MATCHTEXT" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="MATCHTITLE" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="MATCHPROGRAM" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="MATCHTYPE" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="MATCHREMARKS" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="MATCHINFO" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="N" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MATCHES">
		<xs:annotation>
			<xs:documentation> Resultset of OFACREPORTER Check Matches</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="MATCH" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="COUNT" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PARTYADDRESS">
		<xs:annotation>
			<xs:documentation>Address of Customer or Party</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="FULLADDRESS" minOccurs="1" maxOccurs="1"/>
				<xs:sequence>
					<xs:element ref="STREET" minOccurs="1" maxOccurs="1" />
					<xs:element ref="CITY" minOccurs="1" maxOccurs="1"/>
					<xs:element ref="STATE" minOccurs="1" maxOccurs="1" />
					<xs:element ref="POSTALCODE" minOccurs="0" maxOccurs="1" />
					<xs:element ref="COUNTRY" minOccurs="1" maxOccurs="1" />
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="PARTYNAME">
		<xs:annotation>
			<xs:documentation>Name of Customer/Party  on which OFAC search has to be performed</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="FULLNAME" minOccurs="1" maxOccurs="1"/>
				<xs:sequence>
					<xs:element ref="NAMEPREFIX" minOccurs="0" maxOccurs="1" />
					<xs:element ref="FIRSTNAME" minOccurs="1" maxOccurs="1" />
					<xs:element ref="MIDDLENAME" minOccurs="0" maxOccurs="1" />
					<xs:element ref="LASTNAME" minOccurs="1" maxOccurs="1" />
					<xs:element ref="NAMESUFFIX" minOccurs="0" maxOccurs="1" />
				</xs:sequence>
			</xs:choice>
			<xs:attributeGroup ref="attrgroup" />
		</xs:complexType>
	</xs:element>
	<xs:element name="SEARCHSTATE" type="statusfield">
		<xs:annotation>
			<xs:documentation> Determines the State of OFACREPORTER Search</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- Custom Simple Type  Declarations -->
	<xs:element name="DATEOFBIRTH" type="searchfield">
		<xs:annotation>
			<xs:documentation>Customer Date of Birth</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ERROR" type="errorfield">
		<xs:annotation>
			<xs:documentation> GETSEARCHRESULTS Error Message</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PARTYOTHERDETAILS" type="searchfield">
		<xs:annotation>
			<xs:documentation>Customer Other Details</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SEARCHDATA" type="srchdata">
		<xs:annotation>
			<xs:documentation> Customer DATA to be checked </xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<!-- Custom Complex Type Declarations -->
	<xs:attributeGroup name="attrgroup">
		<xs:attribute ref="ALGORITHM" use="required" />
		<xs:attribute ref="MISSPELLING" use="required" />
		<xs:attribute ref="USETEXTEXCLUDE" use="required" />
		<xs:attribute ref="MUSTMATCHTYPE" use="optional" />
		<xs:attribute ref="MUSTALSOMATCHTYPE" use="optional" />
		<xs:attribute ref="MUSTALSOMATCHFIELDS" use="optional" />
	</xs:attributeGroup>
	<xs:complexType name="approvefield">
		<xs:sequence>
			<xs:element ref="APPROVED" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="DATETIME" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="errorfield">
		<xs:sequence>
			<xs:element ref="ERRORNUM" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="ERRORDESC" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="srchdata">
		<xs:sequence>
			<xs:element ref="PARTYID" minOccurs="1" maxOccurs="1" />
			<xs:element ref="PARTYNAME" minOccurs="1" maxOccurs="1" />
			<xs:element ref="PARTYADDRESS" minOccurs="1" maxOccurs="1" />
			<xs:element ref="DATEOFBIRTH" minOccurs="0" maxOccurs="1" />
			<xs:element ref="PARTYOTHERDETAILS" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="searchfield">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="attrgroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="statusfield">
		<xs:sequence>
			<xs:element ref="STATUS" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="DATETIME" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
